:root {
    // --animate-delay: 0.5s;
    
  }

  @for $i from 0 through 30 {
    .list-item-#{$i} { animation-delay: 0.1s * $i; }
  }


  // global transition css

/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}

//位移动画 //transition: all 1s cubic-bezier(.33,1,.68,1);
// 背景图片 hover 放大效果
.devui-card-1[_ngcontent-c1]:hover {
  background-size: 110% 110%;
}
.devui-card-1[_ngcontent-c1] {
  // background: url(/assets/img/newHome/02-01.png) center 100%/100% 100% no-repeat border-box;
  height: 600px;
  position: relative;
  cursor: pointer;
  transition: all .6s cubic-bezier(.65,0,.35,1);
}
