@import "./element.scss";
@import "./animate.scss";
@import "./reset.scss";

$baseFontSizeWidth: 1920;
$baseFontSizeHeight: 1080;

@function px2vw($px) {
  @return $px / $baseFontSizeWidth * 100vw;
}
@function px2vh($px) {
  @return $px / $baseFontSizeHeight * 100vh;
}

body,
html {
  line-height: 1;
  font-family: "Helvetica Neue,Tahoma,Arial,PingFangSC-Regular,Hiragino Sans GB,Microsoft Yahei,sans-serif";
  -webkit-tap-highlight-color: transparent;
  background-color: var(--fill-1);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

html,
body,
.app {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 14px;
  overflow: hidden;
}

[v-cloak] {
  display: none;
}

.color-primary {
  color: var(--color-primary);
}
.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt20 {
  padding-top: 20px;
}

.pt30 {
  padding-top: 30px;
}

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.pl15 {
  padding-left: 15px;
}

.pl20 {
  padding-left: 20px;
}

.pl25 {
  padding-left: 25px;
}

.pl30 {
  padding-left: 30px;
}

.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pr15 {
  padding-right: 15px;
}

.pr20 {
  padding-right: 20px;
}

.pr30 {
  padding-right: 30px;
}

.pb5 {
  padding-bottom: 5px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb30 {
  padding-bottom: 30px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}
.ml25 {
  margin-left: 25px;
}
.ml30 {
  margin-left: 30px;
}
.ml100 {
  margin-left: 100px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}

.mr25 {
  margin-right: 25px;
}

.mr30 {
  margin-right: 30px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.f12 {
  font-size: 12px;
}

.f14 {
  font-size: 14px;
}

.f16 {
  font-size: 16px;
}

.f18 {
  font-size: 18px;
}
.br-8 {
  border-radius: 8px;
}
.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

.w10 {
  width: 10%;
}

.w90 {
  width: 90%;
}

.h100 {
  height: 100%;
}
.border {
  border: 1px solid #eaedf3;
}
.border-bottom {
  border-bottom: 1px solid #e8ecef;
}
.border-top {
  border-top: 1px solid #e8ecef;
}
.border-left {
  border-left: 1px solid #e8ecef;
}
.border-right {
  border-right: 1px solid #e8ecef;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cursor {
  cursor: pointer;
}
.hidden {
  display: none;
}
.unvisible {
  visibility: hidden;
}
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.amap-logo {
  display: none;
  opacity: 0 !important;
}
.amap-copyright {
  opacity: 0;
}
.anchorBL>a,.BMap_cpyCtrl{
  display: none;
}
.tdt-control-copyright {
  display: none
}
#info-win-a,#info-win-error {
  color: var(--color-primary);
}
//文本不允许选中
.noselect{
  user-select: none;
}
//点击无效
.click--invalid {
  pointer-events: none;
}


// ==============================================================


// 文本超出省略号  单行文本  @include single-ellipsis
@mixin single-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// 文本超出省略号  多行文本  @include multiline-ellipsis(4)
@mixin multiline-ellipsis($line:2) {
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line; //需要显示的行数
  overflow: hidden;
  text-overflow: ellipsis;
}

//背景图片  @include bg-image(logo);
@mixin bg-image($url){
  background-image: url($url + "@2x.png");
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
    background-image: url($url + "@3x.png");
  }
}

//透明度 @include opacity(0.8);
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}


//清除浮动  @include clearfix()
@mixin clearfix() {
  &:before,
  &:after {
      content: "";
      display: table;
  }
  &:after {
      clear: both;
  }
}


//美化占位符 placeholder 样式 input {@include beauty-placeholder(25px, #eee, left)}
@mixin beauty-placeholder($fz, $color: #999, $align: left) {
  &:-moz-placeholder {
    font-size: $fz;
    color: $color;
    text-align: $align;
  }
  &:-ms-input-placeholder {
    font-size: $fz;
    color: $color;
    text-align: $align;
  }
  &::-webkit-input-placeholder {
    font-size: $fz;
    color: $color;
    text-align: $align;
  }
}

// 美化文本的选中 .text { @include beauty-select(#fff, #000) }
@mixin beauty-select($color, $bgcolor) {
  &::selection {
    color: $color;
    background-color: $bgcolor;
  }
}

//毛玻璃效果  @include blur(10px)
@mixin blur($blur: 10px) {
  -webkit-filter: blur($blur);
  -moz-filter: blur($blur);
  -o-filter: blur($blur);
  -ms-filter: blur($blur);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='${blur}');
  filter: blur($blur);
  *zoom: 1;
}

//鼠标hover显示下划线 @include hoverLine(2px,$color-white);
@mixin hoverLine($height:2px,$color:$color-text-primary){
  position: relative;
  &:hover::after{
          content: '';
          position: absolute;
          height:$height;
          width: 100%;
          background-color: $color;
          bottom: 0;
          left: 0;
}
}


// 扩展点击区域
@mixin extend-click {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
  }
}
// ==============================================================




