// ==============================================================
.common-menu-view {
  z-index: 999;
  margin-top: -44px;
  width: 255px;
  margin-right: 15px;
  margin-bottom: 15px;
  ::v-deep.el-menu {
    border: none;
    &[role="menubar"] {
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    
    .el-submenu.is-active {
      .el-submenu__title:hover {
        background-color: #4297f1;
      }
      .el-menu-item.is-active {
        background-color: #e8f0f9;
        color: rgb(1, 5, 13)!important;
      }
      .custom-menu-view {
        color: white;
      }
    }
    .el-submenu__title:not(:last-child),
    .el-menu-item:not(:last-child) {
      border-bottom: solid 1px #e6e6e6;
    }
    .el-menu.el-menu--inline {
    .el-menu-item {
      border-bottom: solid 1px #e6e6e6;
    }
    }
    .el-submenu.is-active,
    .el-menu-item.is-active {
      background-color: #4297f1;
      // color: white;
      i {
        color: white;
      }
    }
  }
  .custom-menu-view {
    display: flex;
    align-items: center;
    padding-left: 40px;
    font-size: 18px;
    i {
      margin-right: 10px;
      font-size: 22px;
      width: 22px;
      overflow: hidden;
      color: #4297f1;
    }
  }
  .menu-top {
    width: 100%;
    height: 89px;
    background: rgba(9, 73, 163, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      font-size: 22px;
      font-weight: bold;
      color: rgba(255, 255, 255, 1);
      line-height: 24px;
    }
    .sub-title {
      margin-top: 4px;
      font-size: 16px;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      line-height: 24px;
    }
  }
}

// ==============================================================
.el-pagination {
  text-align: right !important;
  margin: 20px;
}

// ==============================================================
.el-dialog.is-fullscreen {
  width: 100%!important;
  .el-dialog__body {
    height: calc(100% - 50px);
  }
}
.el-dialog__wrapper {
  .el-dialog {
    width: 540px;
    border-radius: 8px;
    .dialog-input-view {
      width: 360px;
    }
  }
  .el-dialog__header {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid rgba(229, 229, 229, 1);
    .el-dialog__title {
      font-size: 16px;
      font-weight: bold;
      color: rgba(34, 34, 34, 1);
    }
    .el-dialog__headerbtn {
      top: 12px;
      .el-dialog__close {
        font-size: 24px;
      }
    }
  }
  .el-dialog__footer {
    // border-top: 1px solid #e8ecef;
    // height: 72px;
    // line-height: 72px;
    // padding: 0 20px;
    // text-align: right;
    .el-button {
      height: 36px;
    }
  }
}

// ==============================================================
.el-range-editor--medium .el-range-separator {
  width: 20px !important;
}

// ==============================================================
.el-table th.gutter {
  //修复表头错位问题
  display: table-cell !important;
}

// ==============================================================

// ==============================================================
.underline {
  &::after {
    content: "";
    border-bottom: solid 2px #25A2F9;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s;
  }

  &:hover {
    &::after {
      transform-origin: left;
      transform: scaleX(1);
    }
  }

  @keyframes underline {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }
}


// ======================== 自定义主题 ======================================

.el-button--primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    &:focus,&:hover {
      background-color: var(--text-2);
      border-color: var(--text-2);
    }
}

.el-switch.is-checked .el-switch__core {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
 
}

// ==============================================================
.box-shadow {
  // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  // box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  
}
.custom-tip-box {
  // box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

// ==============================================================


// ==============================================================